.profile-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 75vh;
}

.profile-card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	margin-top: 2rem;
	padding: 2em 3em;
	border: 2px solid var(--dark-color);
	overflow: hidden;
}

img {
	width: 100px;
	margin-bottom: 1rem;
	border-radius: 50%;
}

span {
	color: var(--med-dark-color);
}
