.profile-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
}

.profile-card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	margin-top: 7rem;
	padding: 2em 3em;
	border: 2px solid var(--dark-color);
	overflow: hidden;
}

.user-img {
	width: 100px;
	margin-bottom: 1rem;
	border-radius: 50%;
}
