.about-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	min-height: 83vh;
	overflow: hidden;
}

.about-container .about-title {
	font-weight: 700;
	margin-top: 1rem;
	margin-bottom: 2.5rem;
	color: var(--main-color);
}

.about-container .about-title span {
	font-weight: 500;
}

.about-container .image-gif {
	width: 100%;
	height: 200px;
	margin-top: 4rem;
	margin-bottom: 3rem;
	background-image: url('../../assets/images/giphy.gif');
	box-shadow: var(--sm-shadow);
}

.about-container p {
	margin: 1em 0;
}

.about-container h4 {
	margin: 0.5em 0;
}

.about-container .links-container {
	margin-top: 3em;
	display: flex;
	flex-wrap: wrap;
	gap: 3em;
}

.about-container .web-link {
	font-size: var(--size-5);
	text-decoration: none;
	color: var(--main-color);
	margin: 0 auto;
	padding: 0.3em 2em;
	border: 2px solid var(--main-color);
	border-radius: 0.3rem;
	box-shadow: var(--sm-shadow);
	cursor: pointer;
}

.about-container .resume-link {
	font-size: var(--size-5);
	text-decoration: none;
	color: var(--light-color);
	background-color: var(--main-color);
	margin: 0 auto;
	padding: 0.3em 2.7em;
	border: 2px solid var(--main-color);
	border-radius: 0.3rem;
	box-shadow: var(--sm-shadow);
	cursor: pointer;
}

.about-container .web-link:hover,
.about-container .resume-link:hover {
	border: 2px solid var(--alert-color);
}

.about-container .logos-container {
	margin-top: 2rem;
}
.about-container .logos-container svg {
	width: var(--lg-icon);
	margin: 0.5em;
}

.about-container .links-social-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
}

.about-container .links-social-container a {
	border: none;
	box-shadow: none;
	padding: 0.3em 1em;
}

.about-container .links-social-container svg {
	width: var(--md-icon);
	margin: 0;
}

.about-container .links-social-container a:hover {
	border: none;
	transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
	.about-container .links-container {
		gap: 1em;
	}

	.about-container {
		padding: 0.2rem;
	}

	.about-container .about-title {
		margin-top: 0;
	}

	.about-container .image-gif {
		height: 150px;
	}

	.about-container p {
		width: 90%;
	}
}
