.about-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	min-height: 83vh;
	overflow: hidden;
}

.about-container .about-title {
	margin-top: 4rem;
	margin-bottom: 2rem;
	color: var(--main-color);
}

.about-container .image-gif {
	width: 600px;
	max-width: 100%;
	height: 200px;
	margin-bottom: 3rem;
	background-image: url('../../assets/images/giphy.gif');
	box-shadow: var(--sm-shadow);
}

.about-container .links-container {
	margin-top: 3em;
	display: flex;
	flex-wrap: wrap;
	gap: 3em;
}

.about-container .web-link {
	font-size: var(--size-5);
	text-decoration: none;
	color: var(--main-color);
	margin: auto;
	padding: 0.3em 2em;
	border: 2px solid var(--main-color);
	border-radius: 0.3rem;
	box-shadow: var(--sm-shadow);
	cursor: pointer;
}

.about-container .resume-link {
	font-size: var(--size-5);
	text-decoration: none;
	color: var(--light-color);
	background-color: var(--main-color);
	margin: auto;
	padding: 0.3em 2.7em;
	border: 2px solid var(--main-color);
	border-radius: 0.3rem;
	box-shadow: var(--sm-shadow);
	cursor: pointer;
}

.about-container .web-link:hover,
.about-container .resume-link:hover {
	border: 2px solid var(--alert-color);
}

.about-container .logos-container {
	margin-top: 2rem;
}
.about-container .logos-container svg {
	width: var(--lg-icon);
	margin: 0.5em;
}
