.create-card-container {
	max-width: 90%;
}

.create-card-container .input,
.create-card-container .textarea {
	margin-bottom: 2rem;
}

.create-card-container label {
	margin-top: 0.3rem;
}

.create-card-container form {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 800px;
	max-width: 100%;
	background-color: var(--main-light-color);
	padding: 2rem;
}

.create-card-container form h3 {
	text-align: center;
	color: var(--main-color);
	text-transform: uppercase;
}

.create-card-container .submit {
	border: 1px solid var(--main-color);
	border-radius: 0.3rem;
	color: var(--light-color);
	background-color: var(--main-color);
	margin-top: 1rem;
	padding: 0.3rem 2rem;
	cursor: pointer;
}

.create-card-container .close {
	position: absolute;
	top: -1rem;
	right: 1rem;
	font-size: 2rem;
	padding: 1rem;
	cursor: pointer;
}
