.update-card-container {
	max-width: 90%;
}

.update-card-container input,
.update-card-container textarea {
	font-size: var(--size-7);
	margin-bottom: 0.2em;
	padding: 0.2em 0.5em;
	border: 1px solid var(--main-dark-color);
	box-shadow: var(--sm-shadow);
}

.update-card-container label {
	text-align: left;
	margin-top: 0.3rem;
}

.update-card-container form {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 800px;
	max-width: 100%;
	background-color: var(--main-light-color);
	padding: 2rem;
}

.update-card-container form h3 {
	text-align: center;
	color: var(--main-color);
	text-transform: uppercase;
}

.update-card-container .submit {
	border: 1px solid var(--main-color);
	border-radius: 0.3rem;
	color: var(--light-color);
	background-color: var(--main-color);
	margin-top: 1.5rem;
	padding: 0.3rem 2rem;
	cursor: pointer;
}

.update-card-container .close {
	position: absolute;
	top: -1rem;
	right: 1rem;
	font-size: 2rem;
	padding: 1rem;
	cursor: pointer;
}
