.home-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	min-height: 77vh;
	max-width: 100%;
	overflow: hidden;
}

.home-container .home-title {
	font-weight: 700;
	color: var(--main-color);
	margin-top: 10vh;
}

.home-container h5 {
	margin-bottom: 2rem;
}

.home-container .description {
	margin-top: 4rem;
	padding: 2rem;
	text-align: left;
}

.home-container .description p {
	text-indent: 5em;
}
