.home-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	min-height: 77vh;
	max-width: 100%;
	overflow: hidden;
}

.home-container .home-title {
	font-weight: 700;
	color: var(--main-color);
	margin-top: 10vh;
	margin-bottom: 1rem;
}

.home-container .home-title span {
	font-weight: 500;
}

.home-container h3 {
	text-align: center;
	margin-bottom: 2rem;
}

.home-container h5 {
	margin-bottom: 2rem;
}

.home-container .description {
	margin-top: 4rem;
	padding: 2rem;
	text-align: left;
}

.home-container .description p {
	text-indent: 5em;
}

@media only screen and (max-width: 768px) {
	.home-container {
		padding: 0;
	}
}
