.card-2-container {
	position: relative;
	min-width: 380px;
	padding: 1.5em 1.2em;
	background-color: var(--light-color);
	border: 2px solid var(--med-light-color);
	box-shadow: var(--sm-shadow);
}

.card-2-container img {
	width: var(--size-img-1);
	height: var(--size-img-1);
	border-radius: 50%;
	box-shadow: var(--sm-shadow);
}

.card-2-container h4 {
	color: var(--main-color);
	font-weight: 700;
	margin-top: 0.5em;
}

.card-2-container h6 {
	font-weight: 700;
	margin: 0.6em auto;
}

.card-2-container span {
	color: var(--dark-color);
}

.edit-delete-container {
	display: flex;
	justify-content: flex-end;
}

.card-2-container .form-delete svg,
.card-2-container .form-edit svg {
	height: var(--size-6);
	fill: var(--med-color);
	margin-left: 0.3em;
	padding: 0 0.5em;
	cursor: pointer;
}

.card-2-container .form-edit svg:hover {
	fill: var(--main-color);
}

.card-2-container .form-delete svg:hover {
	fill: red;
}
