.header-container {
	position: fixed;
	max-width: var(--max-width);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 8vh;
	padding: 0 1rem;
	background-color: var(--dark-color);
	border-bottom: 2px solid var(--main-color);
	z-index: 100;
}

.header-container .logo {
	width: var(--sm-icon);
	margin: 0;
	border-radius: 50%;
	box-shadow: var(--sm-shadow);
}

.header-container .menu-container {
	display: flex;
}

.header-container svg {
	fill: var(--light-color);
	width: var(--sm-icon);
	height: var(--sm-icon);
	margin-top: 0.6em;
	cursor: pointer;
}

.header-container .header-link,
.header-container button {
	font-size: var(--size-7);
	margin: 0.3em 0.5em;
	text-decoration: none;
	color: var(--light-color);
	padding: 0.1em 2em;
	background-color: transparent;
	border: none;
	border-radius: 0.3rem;
	box-shadow: var(--sm-shadow);
	cursor: pointer;
}

.header-container .header-link:hover,
.header-container button:hover {
	box-shadow: 6px 5px 5px var(--med-color);
}

.header-container .header-link-img {
	margin: 0;
	padding: 0;
}

.header-container .header-user-img {
	width: var(--size-3);
	height: var(--size-3);
	margin-top: 0.3em;
	margin-bottom: 0;
	margin-left: 1.5em;
	border-radius: 50%;
	box-shadow: var(--sm-shadow);
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.header-container {
		height: 3em;
	}

	.header-container .logo {
		position: absolute;
		top: 0.5em;
		left: 1em;
	}

	.header-container .menu-container {
		position: absolute;
		top: 0.1em;
		right: 1em;
	}

	.header-container .header-user-img {
		margin-left: 1em;
		margin-top: 0.5em;
	}

	.header-container nav {
		position: fixed;
		top: 3em;
		right: 0;
		padding: 0.5em 2em;
		background-color: var(--dark-color);
		border-bottom: 2px solid var(--main-color);
	}

	.header-container .header-link,
	.header-container button {
		display: block;
		margin: 1em 0;
	}
}
