.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 1rem;
	border: 2px solid var(--main-color);
}

.logo {
	width: var(--size-3);
	margin: 0;
	box-shadow: 3px 3px 5px var(--med-light-color);
}

.header-link,
button {
	font-size: var(--size-6);
	margin: 0.3em 0.5em;
	text-decoration: none;
	color: var(--main-color);
	padding: 0.1em 2em;
	background-color: transparent;
	border: 2px solid var(--main-color);
	border-radius: 0.3rem;
	box-shadow: 3px 3px 5px var(--med-light-color);
	cursor: pointer;
}

.header-link:hover,
button:hover {
	box-shadow: 6px 5px 5px var(--med-color);
}

.header-link-img {
	margin: 0;
	padding: 0;
}

.header-user-img {
	width: var(--size-3);
	margin-top: 0.3em;
	margin-bottom: 0;
	box-shadow: 3px 3px 5px var(--med-light-color);
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.header-container {
		flex-direction: column;
	}

	.header-link,
	button {
		display: block;
	}
}
